a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body {
    background: radial-gradient(circle at right center, #4E2E0E 5%, #1A0D00 30%, #0e0e0e 80%);
    margin: 0;
    color: white;
    height: 100vh;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

.nav {
    display: inline-block;
    font-size: x-large;
    text-align: center;
    margin-right: 20px;
    position: relative;
}

.nav::after {
    content: "";
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 5px;
    width: 0;
    background: #b85d00;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav:hover::after { 
    width: 100%; 
    left: 0; 
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start; 
    height: 100vh;
    font-size: x-large;
    margin-left: 20px;
}

.it {
    text-decoration: underline 4px dotted rgba(150, 150, 150, 0.596);
    text-underline-offset: 4px;
}

.home-icons {
    margin: 20px;
    font-size: 50px;
    transition: all 0.2s ease;
}

.home-icons:hover {
    color: #e07000;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.title h1 {
    border-bottom: 4px solid #b85d00;
    border-radius: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: xx-large;
}

.project-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-card {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(26, 26, 26, 0.4), rgba(83, 46, 13, 0.4)), url('https://www.transparenttextures.com/patterns/noise.png');
    border-radius: 15px;
    width: 400px;
    /* border: 2px solid transparent; */
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 133, 51, 0.3) 0px 10px 36px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  }
  

.project-technologies h4 {
    margin-bottom: 5px;
}

.techs {
    list-style-type: disc;
}

.buttons {
    display: flex;
}

.button {
    margin: 10px;
    margin-bottom: 0;
    padding: 10px 20px;
    color: #fff;
    background: transparent;
    border: 2px solid #ff8533;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #ff8533;
    color: #000;
    box-shadow: 0 0 10px rgba(255, 133, 51, 0.7), 0 0 40px rgba(255, 133, 51, 0.5);
    transform: scale(1.05);
}

.blog-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog-card {
    margin: 20px;
    background: linear-gradient(135deg, rgba(26, 26, 26, 0.4), rgba(83, 46, 13, 0.4)), url('https://www.transparenttextures.com/patterns/noise.png');
    border-radius: 15px;
    width: 400px;
    /* border: 2px solid transparent; */
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 133, 51, 0.3) 0px 10px 36px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.blog-text {
    padding: 20px;
    padding-top: 0;
}

.card-image {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

footer {
    padding: 2rem;
    text-align: center;
}